language: ruby
rvm:
- 2.3.0
before_script:
- bundle exec rake db:create --all
- bundle exec rake db:migrate
script:
- bundle exec rake ci:tests
services:
- postgresql
deploy:
  provider: heroku
  api_key:
    secure: D6AmwzPuwK5T4SZ3IWO7snszfGo5ixqj/bnQFeV0qtSXYDXEjqzmb0z65865dMTMmKsc53aPaNnGjUrsKmf+c6yvPVYgxEGUJHnuKcB/FGvdd6Ostwm4nSw5zDJ4dyRE6o28UXrS20g6baOAcdI+x6Omre43kiWWZmhkk84Wx48Wsr7f0rveBFspW8IR59Ns5JFmcm63kbm2Msfrr98Jbtrlfec/vNocIOQqT5+k/+lYFu09OkaAMr8BV1XuGK+SrLhVBq0rSQ7hwJiEuXxv8w4yOWGfuJlY7gAe4KHUxdXb7ezOAH2Rfhz3k0518Bq6mq7Xj1GvN+GqXkAz6CWSDzcr/49tU5bfoIA+q4RqwNCYFYB4p8KkwTeTtjnj+8TKd3YXFlUm+pMTOhYEvRdUIjjZAhqHWH19WN8X4QpwbRRqDlWB9Wqx1WhHwmle4C94vl5HNN/umLGzV7GcnVg3MX3ilgzSPvt0G8OB7CIBjd09atnwlnBywA3R4wy6Iegoq3vbELGagYVryGfga5zKKYld9ItYTbvT/qRJJZxpGuq0rsMbFBKjqDweRAUjqrA+jLKriU6Ap7T1+Mhrb2t7plqrKAmmXUy5ChM5BuZappLIwVF8fmg6gyS0ayrnBQR2rO+oiyLL+MX3TilqJ3SGo/f9rBhd9zYrq2TGEF2w5iQ=
  app: garden-club
  on: dev
  run:
    - "rake db:migrate"
