<h1 class="content-head is-center"> Articles </h1>
<% current_user.articles.each do |article| %>
  <ul>
    <li><%= link_to article.title, user_article_path(current_user.id, article.id) %></li>
  </ul>
<% end %>
