<div class="startheader">
</div>

<% if current_user %>
  <h1 class="content-head is-center">Welcome, <%= current_user[:name] %></h1>
<% else %>
  <h1 class="content-head is-center">Home#index</h1>
<% end %>

<div>
  <p>
    Popular tags:
    <% @poptags.each do |hash| %>
      <%= link_to hash.name, tag_path(hash.name) %>
      <% unless hash == @poptags.last || @poptags.nil?%>, <% end %>
    <% end %>
  </p>
</div>

<h1 class="content-head is-center">Current Articles</h1>
<% if Article.all != [] %>
  <% Article.all.each do |article| %>
  <ul>
    <li><%= link_to article.title, article %></li>
  </ul>
  <% end %>

<% else %>
  <p> No articles written </p>
<% end %>
