<% if current_user %>
  <h1>Welcome, <%= current_user[:name] %></h1>
<% else %>
  <h1>Home#index</h1>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
<%= link_to new_user_article_path(current_user), new_user_article_path(current_user) %>
<% end %>

<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Log In", new_user_session_path %>
<% end %>
