<div class="startheader">
</div>

<% if current_user %>
  <h1 class="content-head is-center">Welcome, <%= current_user[:name] %></h1>
<% else %>
  <h1 class="content-head is-center">Home#index</h1>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user %>
<%= link_to new_user_article_path(current_user), new_user_article_path(current_user) %>
<% end %>

<h1 class="content-head is-center">Current Articles</h1>
<% if Article.all != [] %>
  <% Article.all.each do |article| %>
  <ul>
    <li><%= link_to article.title, article %></li>
  </ul>
  <% end %>

<% else %>
  <p> No articles written </p>
<% end %>
