/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800';

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
 /* Set your content font stack here: */
 font-family: 'Open Sans', sans-serif;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.is-center {
    text-align: center;
}

.hundra {width:100%;}

.user {max-width: 450px;
margin: 0px auto;}

a:link {color:#FF891C}
a:visited {color:#dd6758}
a:hover {color:#000}
